<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>
      Welcome to {{title}}!
    </mat-card-title>
    <mat-card-content>
      <mat-input-container>
        <input style="width:350px" [ngClass]="{'error': isValid('firstName')}" matInput placeholder="First Name" formControlName="firstName">
      </mat-input-container>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!this.form.valid">Register</button>
    </mat-card-actions>
  </mat-card>
</form>
